/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin:0px; margin-top:35px;margin-bottom:45px;padding: 0;position: relative;overflow:hidden;min-height:400px;z-index:1;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;margin:0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav > li { margin: 0;}
.flex-direction-nav a {width: 63px; height: 63px;margin: -31px 0 0; display: block; position: absolute;top:50%;cursor: pointer; text-indent: -9999px; opacity:0.6; z-index: 5;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;}
.flex-direction-nav .flex-next {right: 0px;background: url(../images/next-arrow.png) no-repeat center center  transparent;}
.flex-direction-nav .flex-prev {left: 0px;background: url(../images/prev-arrow.png) no-repeat center center  transparent; }
.flexslider .flex-next:hover, .flexslider .flex-prev:hover {opacity: 1;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;}
.flex-direction-nav .disabled {opacity: 0.3 !important; cursor: default;}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* caption */
.flex-caption { color: #FFFFFF; left: 0; margin: 0 auto; padding: 0; right: 0; top: 0; width: 85%; text-align:center; } 
.flex-caption span {font-size: 12px; line-height: 21px;display: block;font-weight: 300; }
.flex-caption .slider-title {font-family: OpenSansBold; font-size: 40px; letter-spacing: 1px; line-height: 44px; margin-top: 35px; padding-bottom: 15px; text-align: center; text-transform: uppercase; width: auto;} 	
.flex-caption .text {height:30px;overflow: hidden; font-family: OpenSansRegular; font-size: 21px; line-height: 27px; margin-bottom: 10px; text-align: center; } 	


.header-top-wrap.winht650 #author-slider .slides li img{
	width:175px;
}
.header-top-wrap.winht650 #author-slider .slider-title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding-bottom: 12px;
}
.header-top-wrap.winht650 #author-slider  .text{
	font-size: 18px;
}
.header-top-wrap.winht650 .social_icon .head_social_title{
	margin-top: 45px;
}

/* winht550 */

.header-top-wrap.winht550 #author-slider {
    margin: 25px 0 30px
}

.header-top-wrap.winht550 #author-slider .slides li img{
	width:135px;
}
.header-top-wrap.winht550 #author-slider .slider-title {
    font-size: 25px;
    line-height: 30px;
    margin-top: 20px;
    padding-bottom: 12px;
}
.header-top-wrap.winht550 #author-slider  .text{
	font-size: 16px;
}
.header-top-wrap.winht550 .social_icon .head_social_title{
	margin-top:40px;
}

/* winht480 */

.header-top-wrap.winht480 #author-slider {
    margin: 25px 0 30px
}

.header-top-wrap.winht480 #author-slider .slides li img{
	display:none;
}

.header-top-wrap.winht480 .social_icon .head_social_title{
	margin-top:40px;
}