/*
Theme Name: Convac
Theme URI: http://www.sketchthemes.com/
Description: Behold the glory of the most beautiful Business theme, convac. convac is a clean, elegant, beautiful, responsive, and SEO optimized WordPress Theme from SketchThemes. Adverica features a bag full of features that would give you a massive edge when you're creating a website for yourself or for your clients. Some key features worth noticing are: 1-It has a responsive bootstrap framework allowing your site to be seen flawlessly even on mobile devices. 2-Featured Boxes allows you to highlight your key service sectors. 3-You can showcase your work through the 'Latest Projects section'. 4-A Parallax Section is there to give your side a creative edge. 5-Easy to use and customizable Admin Panel which is as easy as pie. 6-Beautifully carved Footer which can be ornate with cool widgets. Apart from the above mentioned super-cool features, convac dawns Fluid Layout, Fixed Layout, Persistant Header, Custom Menu, Full-Width Template, Client Logo Section, Translation Ready, Easy to Use Theme Options Panel, Sticky Posts, Right & Left Sidebars, SEO Optimized, Supports Threaded Comments.
Version: 1.0.2
Author: SketchThemes
Author URI: http://www.sketchthemes.com
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blue, gray, orange, pink, purple, dark, light, two-columns, right-sidebar, left-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-colors, custom-menu, featured-images, full-width-template, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
---------------------------------------------------------------*/

/* =OpanSans Fonts
-------------------------------------------------------------- */
@font-face {
    font-family: 'OpenSansLight';
    src: url('css/fonts/OpenSans-Light-webfont.eot');
    src: url('css/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('css/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('css/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('css/fonts/OpenSans-Regular-webfont.eot');
    src: url('css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('css/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('css/fonts/OpenSans-Semibold-webfont.eot');
    src: url('css/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('css/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('css/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('css/fonts/OpenSansBold-webfont.eot');
    src: url('css/fonts/OpenSansBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/OpenSansBold-webfont.woff') format('woff'),
         url('css/fonts/OpenSansBold-webfont.ttf') format('truetype'),
         url('css/fonts/OpenSansBold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('css/fonts/OpenSans-Italic-webfont.eot');
    src: url('css/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('css/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('css/fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------------*/
.clear {clear:both;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {background: transparent;border: 0;margin: 0;padding: 0;vertical-align: baseline;}
body { color: #777777;  font-family: 'OpenSansRegular', sans-serif;font-size: 14px;line-height: 23px;font-weight:300;}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {font-weight: 300;  margin-bottom: 20px;  line-height: 23px;}
h1, h2, h3, h4, h5, h6{ color: #555555;font-family: 'OpenSansRegular', cursive;font-weight: normal;}
pre {  overflow: auto;  width: 98%;}
embed {max-width: 100%;}
ol{list-style: decimal outside none;}
ul{list-style-type: disc;}
li{margin-left: 30px;}
dl {margin: 0 0 24px;float: left;}
dt {font-weight: 400;}
dd {margin-bottom: 18px;}
blockquote {padding: 10px 15px 15px 25px ;} 	
cite{font-weight: 400;}
blockquote cite a{color: #FFFFFF;}
iframe { max-width: 100%; width:100%;outline: none;border:none;overflow:hidden;border:none;}
blockquote:before{content: '\f10d'; font-family: FontAwesome;font-size: 17px;left: -12px;position: relative;}
blockquote:after {content: '';content: none;}
blockquote p{margin:0;}
del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;  border-spacing: 0;  }
th{color:#000; text-align: center;font-weight: 400;  }
th,td{padding:3px 5px;  border: 1px solid #CCCCCC; }
a img {border: none;}
a {text-decoration: none;color: #FFA500;}
a, img, a img, input[type="text"], input[type="password"], input, textarea {outline:none;}
a{transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;  }
a:hover{ color: #555;transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;}

/* =HEADER
================================================================*/
body.page-template-template-front-page-php #main{margin-top:0 !important;}
body.overflowhide {overflow:hidden;}
.header-top-wrap{box-sizing: border-box;-moz-box-sizing: border-box;position:relative;}
.header-topbar .row-fluid {position:relative;}
.convac-image-post{text-align:center;}
#header {z-index: 9999;}
#skehead{ line-height: 0;  z-index: 777777999;position: relative;}
.skehead-headernav{ left: 0;top: 0;width: 100%;z-index: 200;}
#header.skehead-headernav.skehead-headernav-shrink{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7); box-sizing: border-box; padding-top: 0; position: fixed;} 	
#logo {margin-bottom: 5px; margin-top: 14px; max-height: 62px; position: relative;} 	
#logo #site-title {display:block;margin:0;top: -3px;position:relative;}
.skehead-headernav.skehead-headernav-shrink .logo { height: 34px;position: relative;top: 2px;width: auto;}
.skehead-headernav.skehead-headernav-shrink #logo #site-title {margin: 0;top: -6px;}
#logo #site-title a {color: #fff; display: inline-block;letter-spacing: 0.5px; font-family: 'OpenSanssemibold',cursive; font-size: 22px; font-weight: 300; line-height: 23px; text-decoration: none;} 	
#logo #site-description { color: #eee; font-size: 11px; line-height: 15px;position: relative; left: 1px;}
.skehead-headernav.skehead-headernav-shrink #logo #site-title a{font-size: 15px;line-height: 20px;  margin-top: 0;}
.skehead-headernav.skehead-headernav-shrink  #logo #site-description {  font-size: 11px;margin-top: -1px;}
#skehead #skenav { margin-top:0px; }
.convac-image-post img{max-width:100%;}
.item_selected {border-bottom: 1px solid #ffffff; display: inline-block; left: 0; margin: 0 22px; position: absolute; right: 0; top: 6px;} 	 	
.children .caret{background: url("images/Right-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);content: ""; display: inline-block; height: 8px; margin-left: 6px;width: 8px;}
.sub-menu .caret,.sub-menu .item_selected {display:none;}
.small-divider {height:12px;border-top: 1px dashed #f2f2f2;;margin:20px 0;}

/* =NAVIGATION
================================================================*/
#skenav #menu-main.skt-mob-menu{display:none;}
#skenav {background:none repeat scroll 0 0 transparent;display:block;margin-left:auto; margin-right:auto; border:medium none;line-height:0;} 
#skehead .sub-menu {display: none;} 
#skenav .ske-menu,ul.menu {font-size:14px;margin: 0px;display:block;width:auto;text-align:right;}
#skenav .ske-menu ul.menu {list-style:none;margin: 0;}
#skenav .ske-menu .menu li, ul.menu li {position: relative;margin-left: 0px;list-style: none outside none;display:inline-block; }
#skenav ul .sub-menu li ,#skenav ul ul li {display: block; width:100%; }
#skenav ul .children li:first-child,#skenav ul .sub-menu li:first-child {border-top: none;}
#skenav ul li:hover{z-index:777777777777;}
#skenav ul ul {left: 0; margin-left: 22px; position: absolute; text-align: left; top: 100%; width: 200px; z-index: 99999;border-top:3px solid #fff;display:none;} 
#skenav ul ul:after { border-bottom: 6px solid #000; border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; display: block; height: 0; left: 10px; position: absolute; top: -9px; width: 0; } 	
#skenav ul ul ul.sub-menu,#skenav ul ul ul.children{left: 100%;top: 0px !important; border-top: 0 none;margin-top:0;margin-left:0;}
#skenav ul ul ul:after{content:inherit;}
#skenav ul ul li{border-top: 1px solid #363636;}
#skenav a {color: #eee; display: block; font-size: 14px; line-height: 53px; padding: 0 22px; text-decoration: none; text-transform: uppercase;} 
#skenav ul ul a { line-height: 20px;font-size: 13px;padding: 12px 15px;width: auto;height: auto;color: #FFFFFF;}
#skenav .children .item_selected {display:none;}
#header.skehead-headernav-shrink .row-fluid {background: transparent;}
#header.skehead-headernav-shrink #skenav a{ line-height: 56px; }
#header.skehead-headernav-shrink #skenav ul ul a {  line-height: 1.2em;  }
.skehead-headernav-shrink #skehead {background: none repeat scroll 0 0 rgba(0,0,0,.8);}
.nav-search-icon{line-height:53px; text-align: right;}
.nav-search-icon a{color:#fff;outline:none;}


/* =#HEADER TOP
================================================================*/
.header-top-wrap{height:250px;}
.home .header-top-wrap{height:auto;}
.header-topbar{padding-top:45px; position: relative; z-index: 99;} 	
#wrapper .hsearch{}
#wrapper .hsearch .row-fluid {background-color: #19262b; bottom: 0; display: none; height: 100%; left: 0; line-height: 55px; margin: 0; position: fixed; right: 0; top: 0; z-index: 99999;} 	
#wrapper .hsearch .container{ height: inherit; position: static; }
#wrapper .hsearch form, #wrapper .hsearch fieldset,#wrapper .hsearch input { height: inherit; margin: 0; padding: 0; }
#wrapper .hsearch fieldset { border: medium none;}
#wrapper .hsearch input[type="text"] {background-color: rgba(0, 0, 0, 0); border: medium none; color: #fff !important; font-family: OpenSanslight; font-size: 50px; font-weight: normal; height: 100px; left: 0; margin-top: -50px; padding: 0 50px; position: absolute; right: 0; text-align: center; text-transform: uppercase; top: 50%; transition: none 0s ease 0s ; width: 100%;} 	
#wrapper .hsearch input[type="submit"] { display: none; }
#wrapper .hsearch .hsearch-close { outline:none;background: url("images/cross.png") no-repeat scroll center center transparent; cursor: pointer; height: 58px; opacity: 0.6; position: absolute; right: 20px; top: 20px; width: 58px;-webkit-transition:all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;} 	
#wrapper .hsearch .hsearch-close:hover{opacity: 1;}
.social_icon {text-align:center; margin-bottom: 55px;position:relative;z-index:1;} 	
.social_icon ul{margin: 40px 0 0;}
.social_icon .head_social_title { color: #fff; font-family: OpenSansRegular; font-size: 32px; letter-spacing: 1px; margin-top: 55px; } 
.social_icon:before { background: none repeat scroll 0 0 #fff; content: ""; height: 1px; margin-left: auto; margin-right: auto; opacity: 0.6; width: 40%; } 
.social_icon li {display: inline-block; list-style-type: none; margin-left: 0;} 	
.social_icon a { background: none repeat scroll 0 0 transparent; border: 2px solid #fff; border-radius: 100%; color: #ffffff; display: inline-block; font-size: 20px; height: 24px; line-height: 24px; margin: 0 3px; padding: 6px; text-align: center; width: 24px; } 
.social_icon a.search-strip{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 1px solid; color: #000000; height: 21px; line-height: 19px;-webkit-transition:all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;}
.social_icon a.search-strip:hover{  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); border: 1px solid #000000; color: #FFFFFF;} 	
.social_icon li a:hover,.social_icon li a{-webkit-transition:all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;}
.social_icon li.linkedin-icon a:hover { background: none repeat scroll 0 0 #0280B0; }
.social_icon li.fb-icon a:hover { background: none repeat scroll 0 0 #3a5999; }
.social_icon li.tw-icon a:hover { background: none repeat scroll 0 0 #3aa9de; }
.social_icon li.flickr-icon a:hover { background: none repeat scroll 0 0 #D80068; }
.social_icon li.gplus-icon a:hover { background: none repeat scroll 0 0 #d14836; }
.social_icon li.youtube-icon a:hover { background: none repeat scroll 0 0 #cc332d; }
.social_icon li.foursquare-icon a:hover { background: none repeat scroll 0 0 #0cbadf; }
.social_icon li.pinterest-icon a:hover { background: none repeat scroll 0 0 #cb2028; }


 /* =#CONTENT
================================================================*/
.page-content{padding-top:30px;}
.page #content {background: none repeat scroll 0 0 #fff;padding: 30px 20px;}
.page.page-template-template-blog-full-width-php.page #content {background: none repeat scroll 0 0 transparent;padding:0px;}
.page.page-template-template-blog-left-sidebar-page-php.page #content,.page-template-template-blog-right-sidebar-page-php.page #content  {background: none repeat scroll 0 0 transparent;padding:0px;}
.page.page-template-template-blog-right-sidebar-page-php.page #content .post,.page-template-template-blog-left-sidebar-page-php.page #content .post{ -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: none repeat scroll 0 0 #fff; border-color: #eeeeee #e5e5e5 #e5e5e5; border-image: none; border-right: 1px solid #e5e5e5; border-style: solid; border-width: 1px; margin-bottom: 30px; padding: 28px 20px 32px !important; } 
.page #content .post {  padding-bottom: 10px !important; padding-left: 0; padding-right: 0; padding-top: 0;border: medium none; } 	
#content {word-wrap: break-word;  -ms-word-wrap: break-word;}
#main {padding: 0 0 0px; margin-bottom: 30px;position:relative;}
#content .post { border: 1px solid #e5e5e5;  background: none repeat scroll 0 0 #fff; border-top: 1px solid #eeeeee; margin-bottom: 30px; padding:28px 20px 32px;}
.single .sound-cloud-audio-container,.single .audio-container{ float: left;margin-bottom:20px;}

.archive #content .post:first-child ,.page-template-template-blog-page-php #content .post:first-child,.page-template-template-blog-fullwidth-php #content .post:first-child ,.blog #content div.post:first-child,.page-template-template-blog-left-sidebar-page-php #content .post:first-child  { }
.category #content .post:last-child,.tag #content .post:last-child, .archive  #content .post:last-child, .search  #content .post:last-child{border-bottom:0;}
.tag #content, .category #content,.archive  #content, .search  #content {margin-bottom:15px;}
.search #content .post { }
.blog-template .navigation #convac-paginate, .blog .navigation #convac-paginate{margin-bottom:0px;}
.fullwidth-temp #content .post{padding-bottom:30px;}
.sitemap-temp #content{margin-bottom:30px;}
.default-pagetemp #content .post{padding-bottom:50px;}
.entry {  margin: 10px 0 15px;  }
.entry-title a {  color: #000000;  text-decoration: none;  }
.post-title{ margin-bottom:24px;}
.post-title a { font-family: 'OpenSansRegular', cursive; font-size: 26px; line-height:26px;transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s; letter-spacing: 1px;} 	
.title{  font-size: 26px; line-height: 30px;} 
body.search .post.skt_menu_items .skepost-meta, .skepost-meta { color: #999999;font-size: 12px; margin:0px;padding-left: 9px;word-spacing: 2px; float: right;} 	
.skepost-meta abbr {  border: none;  }
.skepost-meta abbr:hover {  border-bottom: 1px dotted #666;  }
.skepost {clear: both;  }
.skepost > p:first-child::first-letter,.skepost::first-letter {font-size:40px;text-transform: capitalize; }
.skepost img {margin-bottom: 10px;  }
.skepost input {  margin: 0 0 24px 0;  }
.skepost input.file, .skepost input.button {  margin-right: 24px;  }
.skepost label {color: #888;  font-size: 12px;  }
.skepost select {margin: 0 0 24px 0;  }
.skepost sup, .skepost sub {font-size: 10px;}
.skepost blockquote.left {float: left;margin-left: 0;  margin-right: 24px;  text-align: right;  width: 33%;}
.skepost blockquote.right {float: right;margin-left: 24px;  margin-right: 0;  text-align: left;  width: 33%;}
body.page .edit-link {clear: both;  display: block;} 
.skepost-meta a {text-decoration:none; font-weight: 400; color: #999999;}
.skepost-meta > span:first-child {margin-top: 0;}
.skepost-meta > span { background: none repeat scroll 0 0 #1abc9c; color: #fff;display: block; height: 80px; margin-top: 10px; padding: 0; width: 84px;}
.skepost-meta .post-type-img > img {padding: 20px 18px;}
.skepost-meta span.author-name { height: 65px; line-height: 0; padding: 8px 7px; width: 70px; } 
.skepost-meta .avatar.photo { height: 65px !important; width: 69px !important; } 	
.skepost-meta span.date { height: 46px; padding: 17px 15px; width: 54px; text-align: center; text-transform: uppercase; font-size: 11px } 
.skepost-meta .date > span { display: inline-block; font-size: 20px; font-weight: bold; text-align: center; width: 50px; } 
.skepost-meta .comments {text-align:center;position:relative;}
.skepost-meta .comments  a{ height: 100%; left: 0; position: absolute; top: 0; width: 100%; } 	
.skepost-meta .comments > img { padding: 14px 0 0 0px; } 
.comments > span,.comments a > span {bottom: 8px; color: #fff; display: block; font-size: 13px; font-weight: bold; position: absolute; text-align: center; width: 100%;} 	
.skepost-meta .blog-post-like {text-align:center;position:relative; text-align:-moz-center;text-align:-webkit-center;}
.skepost-meta .blog-post-like > img { padding: 14px 0 0; }  
.skepost-meta .blog-post-like .ldc_img{display:none;}
.blog-post-like .ul_cont { pointer-events: none; cursor: pointer; display: block; height: 100%; left: 0; margin: 0 auto; position: absolute; text-align: center; top: 0; width: 100%; text-align:-moz-center;text-align:-webkit-center;} 	
body.single-post .blog-post-like .ul_cont{ pointer-events: inherit;}
.skepost-meta .ldc_counts { width: 100%;display: block;line-height: 20px; bottom: 7px; font-weight: bold; position: absolute;} 	
.vert-skepost-meta{padding:0;margin-bottom:24px;}
.skepost-meta.vert-skepost-meta > span:first-child { margin-left: 0; margin-top: 10px; } 
.vert-skepost-meta > span{float: left;margin-left:10px;}
.skepost-meta span i{margin-right: 2px;}
.skepost-meta .category a{display:inline-block;}
.main-box .main-box-mid {margin-bottom: 10px;}
.readmore {margin-top:15px;}
.readmore a {background-color: #444444;border-radius: 5px 5px 5px 5px;color: #FFFFFF;display: block;font-style: italic;height: 24px;overflow: hidden;padding: 0 2px 0 10px;text-decoration: none;width: 91px;}
.readmore a:hover {background-color: #5F5F5F;}
#content .continue{ text-align:left; margin-top:28px;}
.continue a {border: 0 none; color: #ffffff; display: inline-block; font-size: 14px; letter-spacing: 0; padding: 11px 18px 10px; text-transform: uppercase;} 	
.continue a:hover { background: none repeat scroll 0 0 #ccc; color: #FFFFFF; } 
.sticky-post { border-bottom: 1px solid; font-family: OpenSansSemibold; font-size: 28px; font-weight: 500; margin-bottom: 20px; padding-bottom: 20px; padding-top: 35px; text-transform: capitalize;} 	
.sticky-post:first-child{padding-top:0;}
.single #content .title{margin-bottom:4px;}
#content.blogsidebar{margin-top:0px;}

.conv-tags{margin-bottom:8px;}
.conv-category{margin-bottom:16px;}
.conv-category a,.conv-tags a {font-size: 12px;}
.conv-tags .fa.fa-tag{ background: none repeat scroll 0 0 #000; color: #fff; padding:7px 7px 6px 8px; margin-right: 8px; }
.conv-category .fa.fa-folder { background: none repeat scroll 0 0 #000; color: #fff; padding:7px 4px 4px 7px; margin-right: 8px; } 



/* =#ABOUT AUTHOR BOX
================================================================*/
#about_author_box {padding-bottom: 20px;margin-top: 40px;}
#about_author_box .author_title{  border-bottom: 1px solid #a6a6a6; font-size: 28px; margin-bottom: 25px; padding-bottom: 30px;} 	 	 	
#about_author_box .author-content-box {border: 1px solid;}
#about_author_box .author_avtar{   border: 8px solid; border-radius: 0; float: left; line-height: 0;position:relative; } 	
#about_author_box .author_avtar img{margin: 0;width: 150px;}
#about_author_box .author_name{ font-size:18px; margin-bottom: 7px; margin-top: 7px;display: block; } 
#about_author_box .author_content{ width:73%; float:right; padding-right: 10px;} 
#about_author_box .author_topsec{height: 31px; line-height: 33px;} 
#about_author_box .author_bio { line-height: 20px;} 
#about_author_box .author_social{ float: right;margin: 13px 0; text-align: right; } 
#about_author_box .author_social li{ display: inline-block; list-style: none outside none; margin:0; } 
#about_author_box .author_social li a{ color:#fff; background: none repeat scroll 0 0 #EEEEEE; border-radius: 2px; display: inline-block; font-size: 17px; height: 30px; line-height: 30px; margin: 0px 2px; text-align: center; width: 30px; transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s; } 
#about_author_box .author_social li a:hover{ color:#fff; } 
#about_author_box .author_avtar .author_avtar_rob:after { border-bottom: 8px solid transparent; border-left: 8px solid #000; border-top: 8px solid transparent; content: ""; display: block; height: 0; position: absolute; right: -16px; top: 9px; width: 0; } 
#about_author_box .author_social li a { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #a4a4a4; color:#a4a4a4; border-radius: 100%; display: block; font-size: 20px; font-weight: normal; height: 42px; line-height: 44px; text-align: center; width: 42px; } 
#about_author_box .author_social li.fb-icon a:hover { background: none repeat scroll 0 0 #3a5999; }
#about_author_box .author_social li.tw-icon a:hover { background: none repeat scroll 0 0 #3aa9de; }
#about_author_box .author_social li.gplus-icon a:hover { background: none repeat scroll 0 0 #d14836; }
#about_author_box .border-au-title { border-bottom: 1px solid; position: relative; top: -26px; width: 31%; } 

/* =POSTFORMAT CSS
================================================================*/
.flex-video.widescreen.vimeo {margin-bottom: 27px;}
.convac-post-box .audio-container { background: url("images/format-audio-bg.png") no-repeat scroll center center rgba(0, 0, 0, 0); border: 12px solid #1abc9c; height: 417px; width: 610px;float: left;position: relative; } 
.convac-post-box .skt-link-container { background: url("images/format-link-bg.png") no-repeat scroll center center rgba(0, 0, 0, 0); border: 12px solid #1abc9c; height: 417px; width: 610px;float: left;position: relative; } 
.skt-link-container .skt-format-link { font-size:40px;bottom: 0; height: 30px; left: 0; margin: auto; position: absolute; right: 0; text-align: center; top: 0; padding: 0 10px; } 
.skt-link-container .skt-format-link p{line-height:40px;}
.sound-cloud-audio-container .skt-format-audio iframe { float: left; height: 418px; border: 12px solid #1abc9c; width: 610px; } 
.skt-format-audio p {margin: 0;}
.convac-post-box .citation_post { background:url("images/format-quote.png") no-repeat scroll 27px 34px rgba(0, 0, 0, 0); border: 12px solid #1abc9c; height: 417px; width: 610px;float: left; } 
.single .convac-post-box .citation_post,.single .skt-link-container { margin-bottom: 24px;}
.citation_post blockquote:before{content:'';}
.citation_post blockquote {color:#191919; border: 0 none;font-size: 30px; line-height: 39px; margin-bottom: 0; max-height: 286px; overflow: hidden; padding: 65px 37px; position: relative; text-align: center;} 	
.citation_post .quoteauthor { display: block;font-weight: bold; margin-top: 30px; text-align: center; } 	
.gallery-box{line-height:0;}
.gallery-box.slides li {margin: 0;}
#content .image-gallery-slider{overflow: hidden;position: relative;}
.page-template-template-blog-fullwidth-php .image-gallery-slider {height: 555px;overflow: hidden;position: relative;}
.slider-attach {overflow: hidden;position: relative;margin-bottom: 32px;}
.postformat-gallerydirection-nav { height: 100%; list-style-type: none; margin: 0 auto; position: absolute; top: 0; width: 100%; z-index: 99;} 	
.postformat-gallerycontrol-nav{display:none;}
.postformat-gallerydirection-nav li {margin: 0;}
.postformat-gallerydirection-nav li a {display: block; font-size: 20px; font-style: normal; height: 39px; line-height: 16px; margin: -20px 0 0; position: absolute; text-align: center; bottom: 4%; transition: all 0.5s linear 0s; width: 38px;    border: 1px solid #fff;} 	
.postformat-gallerydirection-nav li a:hover { }
.postformat-gallerydirection-nav .postformat-gallerynext{right: 21px;background-image:url("images/gallery-Next-Arrow.png");background-repeat:no-repeat;}
.postformat-gallerydirection-nav .postformat-galleryprev{right: 72px; background-image:url("images/gallery-Prev-Arrow.png");background-repeat:no-repeat;}
.postformat-gallerycontrol-nav{bottom: 0px;color: #FFFFFF; left: 0; margin: 0 auto; position: absolute; text-align: center; width: 100%; z-index: 999;}  	
.postformat-gallerycontrol-nav li{display:inline-block;}
.postformat-gallerycontrol-nav a{ border: 2px solid #FFFFFF; border-radius: 20px; cursor: pointer; display: block; height: 12px; margin-left: 10px; text-indent: -9999px; width: 12px; } 
.postformat-gallerycontrol-nav a.postformat-galleryactive{background: none repeat scroll 0 0 #7FBF00;cursor: default;}


/* = PAGE TITLE + BREADCRUMB STYLE
================================================================*/
.bread-title-holder{display: block;height: 105px; overflow: hidden;position: relative;width: 100%; height:82px;   }
.bread-title-holder h1.title { text-transform: uppercase;color: #fff; font-size: 28px; line-height: 30px;letter-spacing: 0; margin: 0; font-family: 'OpenSansSemibold',cursive; float: left;margin-left:2px;  } 
.bread-title-holder .container { display: table;height: 100%; position: relative;}
.bread-title-holder .container .row-fluid { display: table-cell; vertical-align: middle;}
.bread-title-holder .cont_nav { display: inline-block; position: relative; float: right; margin-top: 4px;text-transform: uppercase; } 
.bread-title-holder .cont_nav_inner p{margin:0;color:#fff;}
.bread-title-holder .cont_nav_inner span{font-size:14px;}
.bread-title-holder .skt-breadcrumbs-separator,.bread-title-holder .cont_nav_inner a{ color:#fff;  font-size: 14px; } 
.bread-title-holder .skt-breadcrumbs-separator {font-family: 'Trebuchet MS';font-size: 10px;letter-spacing: -1px;margin: 0 1px;position: relative;}
.bread-title-holder .cont_nav_inner a:hover{color:#000;}


/* =COMMENTS
================================================================*/
.comment-box-top {background: url("images/comment-box-top.jpg") no-repeat scroll 0 0 transparent;height: 6px;width: 612px; }
.comment-box-mid {background: url("images/comment-box-mid.jpg") repeat-y scroll 0 0 transparent;width: 612px;padding: 20px 0 0 25px; }
.comment-box-btm {background: url("images/comment-box-btm.jpg") no-repeat scroll 0 0 transparent;height: 6px;width: 612px; }
.leavereply {margin-bottom: 20px;  }
.note { font-size: 10px;  }
#comments {clear: both;  }
#comments .navigation {padding: 0 0 18px 0;  }
h3#comments-title, h3#reply-title {color: #333;font-size: 18px; font-weight: 300; margin-bottom: 0;font-family: 'OpenSansRegular',cursive; letter-spacing: 0; }
h3#comments-title {padding: 24px 0;  }
.commentlist {list-style: none; margin: 0 0 25px; }
.commentlist li {margin: 0 0 0 25px;  }
.commentlist p { margin: 5px 0;  }
.commentlist li.comment {line-height: 24px;  margin: 0 0 10px 0;  position: relative;  }
.commentlist li:last-child { margin-bottom: 0;  }
#comments .comment-body ul, #comments .comment-body ol {  margin-bottom: 18px;  }
#comments .comment-body p:last-child {  margin-bottom: 6px;  }
#comments .comment-body blockquote p:last-child {  margin-bottom: 24px;  }
.commentlist ol {  list-style: decimal;  }
#content .commentlist .avatar {  border: 4px solid; height: 77px;  left: -100px;  margin-right: 5px;  position: absolute;  top: 4px;  width: 77px;  }
.comment-author {   position: relative;  }
.comment-author cite {  color: #000;  font-style: normal;  font-weight: 400;  }
.comment-author .says {  font-style: italic;  }
.comment-meta {  font-size: 12px;  margin: 0 0 18px 0;  }
.comment-meta a{  text-decoration: none;  }
.comment-meta a:hover {  color: #ff4b33;  }
.commentlist .bypostauthor {}
.reply {  font-size: 12px;  padding: 0 0 10px;  position: absolute;  right: 0;  top:24px;  }
.reply a, a.comment-edit-link {  color: #222;  }
.reply a:hover, a.comment-edit-link:hover {  color: #ff4b33;  }
.commentlist .children {  list-style: none;  margin: 0;  }
.commentlist .children li {  background: url("images/corner-arrow.png") no-repeat scroll left 0 transparent;  padding-left: 45px;  }
.comment-body {  border-bottom: 1px dotted #e5e5e5;  margin-bottom: 10px;  padding:12px 0 18px 100px;  }
.comment-edit-link {  display: none;  }
.nopassword, .nocomments {  display: none;  }
#comments .pingback {  border-bottom: 1px solid #e7e7e7;  margin-bottom: 18px;  padding-bottom: 18px;  }
.commentlist li.comment+li.pingback {  margin-top: -6px;  }
#comments .pingback p {  color: #888;  display: block;  font-size: 12px;  line-height: 18px;  margin: 0;  }
#comments .pingback .url {  font-size: 13px;  font-style: italic;  }


/* =COMMENTS FORM 
================================================================*/
input[type=submit] {color: #333;}
#content #respond {color: #000000;  font-size: 20px;  margin-bottom: 10px; position: relative; }
.comments-template {margin-bottom: 20px;}
.comments-template #commentsbox {}
.comments-template a {text-decoration: none; }
.comments-template .reply  a { border-radius: 2px; color: #FFFFFF; font-size: 15px; padding: 11px 18px 10px; border:0; letter-spacing:0;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}
.comments-template .reply  a:hover {background: none repeat scroll 0 0 #333333 !important;color: #FFFFFF;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;  }
#comments { color: #333333; font-family: 'OpenSansRegular',cursive; font-size: 28px; margin-bottom: 30px; padding: 10px 0;} 	
.commentmetadata { margin:0 0 15px;  position: relative;  }
.commenttext {font-size: 14px;  margin-bottom: 10px;  margin-left: 10px;  margin-right: 5px;  }
.postmetadata {margin:7px 0;  padding:2px 10px;  }
.postmetadata a { color:#404040;  text-decoration:none;  }
#respond p {clear: both; height: 40px; margin: 0;  }
#respond .comment-notes {  font-size: 12px;  margin-bottom: 1em;   color: #555;}
#respond .logged-in-as{  font-size: 12px;  }
.form-allowed-tags {  line-height: 1em;  }
.children #respond {  margin: 0 0px 0 0;  }
h3#reply-title {  margin: 18px 0;  }
#comments-list #respond {  margin: 0 0 18px 0;  }
#comments-list ul #respond {  margin: 0;  }
#cancel-comment-reply-link {  font-size: 12px;  font-weight: normal;  line-height: 18px;  color: #888;  text-decoration: none;  }
#respond .required {  color: #ff4b33;font-size: 16px;}
#respond label {  float: left;font-size: 13px; margin-top: 5px;color:#666;}
#respond input[type="submit"] {color: #FFFFFF; font-size: 14px; border:0; letter-spacing:0;cursor: pointer; display: inline-block; height: auto; margin-bottom: 0;padding: 12px 18px 10px;position: relative; text-transform: uppercase;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;  }
#respond input[type="submit"]:hover {color: #FFFFFF; transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;  }
#respond input, #respond textarea {border: 1px solid #ccc; color: #555; float: right;font-family: 'OpenSansRegular',cursive; font-size: 14px; font-weight: 300; height:46px; margin: 0 0 22px; padding: 4px 4px 4px 26px; width: 78%;}  	 	
#respond .comment-form-comment {height: 102px;}
#commentform .submit {float: right;width: 175px;}
#respond textarea {height: 182px;overflow:auto;padding:20px 4px 4px 26px;}
.form {width: 500px;}
#commentform .logged-in-comment {  font-family: Times New Roman;  font-size: 16px;  margin-bottom: 15px;  color: #888888;  }
#commentform  .logged-in-comment a {  color: #111;  text-decoration: none;  }
#commentform  .logged-in-comment a:hover {  color: #000;  }
#respond #input {  float: right;  margin: 0 0 20px;  width: 420px;  }
#respond .form-allowed-tags {  clear: both;  display: none;  }
#respond .form-allowed-tags code {  font-size: 11px;  }
#respond .form-submit {  margin:12px 0 0;  }
#respond .form-submit input {width: auto;  outline:none;  }
#commentform .left-label {  float: left;  margin-bottom: 15px;  width: 240px;  }
#commentform .right-input {  float: left;  }
#commentform .input {  float: right;  margin-top: 15px;  width: 380px;  }
#commentform .input input[type="submit"] {  float: left;  }
.cancel-comment-reply {  float: right;  margin-bottom: 15px;  }


/* =404 PAGE
================================================================*/
.skepost._404-page { text-align: center; }
._404-page form { display: inline-block; }
._404-page form input{margin-bottom:0;}
.error-txt-first {font-size: 150px;line-height: 150px;margin-top: 32px;}
.error-txt { font-size: 180px;  line-height: 220px;}
._404-page p {color: #555555; font-size: 18px; line-height: 30px; margin-bottom: 40px; margin-top: 30px;} 	
._404_artbg{margin:50px auto 40px;} 


/* =WIDGET AREAS
================================================================*/
.ske_search #s {width: 60%;  }
.ske_search label {display: none;  }
.error404 #searchform input[type="text"], .search #searchform input[type="text"], #sidebar #searchform input[type="text"], #footer #searchform input[type="text"],.skt-subs-widget input[type="text"] {color: #555; font-size: 14px; font-weight: 300; height: 46px; padding-left: 5px; width: 234px; border-radius:0;border:1px solid #ccc; border-right:0; } 
#searchform input[type="submit"] { height: 29px; border-style: none; color: #FFFFFF; display: block;overflow: hidden; padding: 4px 11px; text-decoration: none; width: auto;cursor:pointer;font-size: 12px;font-weight: 300;margin:0;-webkit-padding-before:5px;-webkit-padding-after:5px;-webkit-padding-start:14px;-webkit-padding-end:14px;} 	
.widget_search .ske-title {border-bottom: none;}
.ske-title {font-size: 16px;  font-weight: bold;line-height: 23px;  margin-bottom: 10px;  font-size: 24px;}
.ske-container img,.ske-container select {height: auto;max-width: 100%;  }
.ske_widget a{color:#777;}
.ske_widget a:active,.ske_widget a:hover {text-decoration: none;  color: #000;}
.ske_widget a.image:hover {padding:0;}

/* =WP-NAV WIDGET
================================================================*/
#main .ske_widget .widget_nav_menu ul.sub-menu{margin:0;}
#main .ske_widget .widget_nav_menu li{ padding:0; margin:0;} 
#main .ske_widget .widget_nav_menu a { border-bottom: 0 dotted rgba(0, 0, 0, 0); display: inline; line-height: 34px; margin: 0; width: 100%; } 

/* =WP-CALENDER WIDGET
================================================================*/
#wp-calendar { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #DDDDDD; border-collapse: separate;padding: 0; margin-bottom: 0;} 
#wp-calendar caption {color: #333333;font-size: 14px;font-weight:normal;padding-bottom: 15px;  text-align: left;  }
#wp-calendar thead {background: none repeat scroll 0 0 #F2F2F2; font-size: 11px;}
#wp-calendar thead th {border: medium none;color: #FFFFFF;font-family: 'OpenSansRegular',cursive;font-size: 12px;padding: 14px 5px;text-align: center;}
#wp-calendar tbody {color: #aaa;}
#wp-calendar tbody td,#wp-calendar  td {border: medium none; color: #777777; font-size: 12px; padding: 5px 12px; text-align: center;} 	
#wp-calendar a { color: #FFFFFF; font-family: 'OpenSansRegular',cursive; font-size: 13px; font-weight: 400; } 
#wp-calendar tbody a { background:none; font-weight:bold;color: #fff; display: block; font-weight: 400; height: 23px; line-height: 24px; margin: 0 auto; text-align: center; width: 25px; } 
#wp-calendar a:hover {color: #fff;}
#wp-calendar  td {border: medium none;}
#wp-calendar tbody .pad {background: none;}
#wp-calendar tfoot #next {text-align: right;}
#sidebar select{border: 1px solid #ccc; font-family: OpenSansRegular; color: #777777; font-size: 14px; padding: 13px; width: 100%;} 	

/* =MULTISTREAM WIDGET
================================================================*/
.ske-container.sktmultisocialstream li:before,#main .ske-container.sktmultisocialstream li:before { content: "";display:none;}
.ske-container.sktmultisocialstream li,#main .ske-container.sktmultisocialstream li {padding: 0;float: left;margin:0 14px 14px 0;height: 95px;width:95px;border: medium none;overflow:hidden;line-height:inherit;}
.ske-container.sktmultisocialstream img,#main .ske-container.sktmultisocialstream img {width:95px;height:95px; transition: all 0.2s linear 0s;-webkit-transition: all .2s linear 0s;-moz-transition: all .2s linear 0s; -o-transition: all .2s linear 0s; -ms-transition: all .2s linear 0s;}
.ske-container.sktmultisocialstream a,#main .ske-container.sktmultisocialstream a {display: inline-block;height: 95px;margin: 0;padding: 0;width: 95px;}
.sktmultisocialstream img:hover,#main .sktmultisocialstream img:hover {transform: scale(1.2, 1.2);-webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); -o-transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); transition: all 0.2s linear 0s;-webkit-transition: all .2s linear 0s;-moz-transition: all .2s linear 0s; -o-transition: all .2s linear 0s; -ms-transition: all .2s linear 0s; }
#footer .ske-container > ul.sktmultisocialstream {margin-right: 0;}


/* =TAG CLOUD
================================================================*/
.widget_tag_cloud a {margin-bottom: 7px;margin-right: 3px; color: #333;border:1px solid #ccc; display: inline-block; font-size: 14px !important; padding: 8px 14px; transition: all 0.2s linear 0s; -moz-transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s;}
.widget_tag_cloud a:hover { color:#fff!important; transition: all 0.2s linear 0s;-moz-transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; color: #FFFFFF;}


/* =SEARCH
================================================================*/
#search {float:right;height:55px;}
#search input[type="text"] {background:none repeat scroll 0 0 #545454;border:0 solid #CCCCCC;padding:3px;color:#D7D7D7;float:left;margin-right:10px;}
#searchform input[type="submit"],.skt-subs-widget input[type="submit"] { border-radius: 0; border-style: none; color: #FFFFFF; cursor: pointer; display: block; font-size: 13px; font-weight: 300; height: 46px; margin: 0; overflow: hidden; padding: 8px 12px; text-decoration: none; width: auto; text-transform: uppercase; } 
#searchform .searchleft {float: left;}
#searchform .searchright {float: left;}

/* =SUBSCRIPTION WIDGET
================================================================*/
.skt-subs-widget input[type="submit"]{float:left;padding:8px 14px;}
.skt-subs-widget input[type="text"]{float:left;border-right:0 !important;}

 /* = SKETCH RECENT POSTS WIDGET
================================================================*/
#main .ske_widget ul .skt-recent-posts li:before {content:"";}
#main .ske_widget ul .skt-recent-posts span{display: inline-block;float: left;margin-right:15px;}
#main .ske_widget ul .skt-recent-posts span:before{ font-size: 25px;border: 1px solid #ccc; display: inline-block; height: 50px; line-height: 50px;text-align: center; width: 55px; font-family: FontAwesome;}
#main .ske_widget ul .skt-recent-posts span.skt-rp-standard:before{content: "\f03e";}
#main .ske_widget ul .skt-recent-posts span.skt-rp-audio:before{content: "\f028";}
#main .ske_widget ul .skt-recent-posts span.skt-rp-video:before{content: "\f03d";}
#main .ske_widget ul .skt-recent-posts span.skt-rp-gallery:before{content:"\f03e";}
#main .ske_widget ul .skt-recent-posts span.skt-rp-quote:before{content: "\f10d";}
#main .ske_widget ul .skt-recent-posts span.skt-rp-link:before{content: "\f0c1";}
#main .ske_widget ul .skt-recent-posts li .skt-rp-item{float: left; position: relative; width: 250px; word-wrap: break-word;}
#main .ske_widget ul .skt-recent-posts li .skt-rp-excerpt{ font-size: 13px; margin-top: 7px; color: #777777 !important; }


/* =MAIN SIDEBARS
================================================================*/
#sidebar .ske_widget .ske-container{background: none repeat scroll 0 0 #fff; border: 1px solid #e5e5e5; -moz-box-sizing: border-box;box-sizing: border-box; float: right; margin-top: 22px; margin-left: 0; padding:24px 20px 22px; width: 100%;} 	
#sidebar .ske_widget .ske-container:first-child{margin-top:0;} 
#sidebar .skeside {width:100%;float:left;margin-bottom: 0px;}
#main .ske_widget ul {margin-left: 0;list-style: none outside none;margin-bottom: 0px;text-align:left;}
#main .ske_widget ul ul.sub-menu { margin-top: 8px; } 
#main .ske_widget ul ul.children {margin:0; padding:0;}
#main .ske_widget ul ul li {border-bottom:0 dotted rgba(0, 0, 0, 0); line-height: normal;  margin: 0;  padding:8px 0 8px;  display: block;  width:100%;  }
#main .ske_widget ul ul li:before{content: "\f105";margin-right:9px;}
#sidebar .ske-title {font-family: 'OpenSansRegular',cursive; font-size: 24px; font-weight: normal; letter-spacing: 0; line-height: 28px; margin-bottom: 14px; text-transform: inherit; word-wrap: break-word; } 	 
.ske_widget ul ul li:before, .widget_nav_menu ul li:before, .widget_pages ul li:before, .widget_categories ul li:before, .wpb_taxonomy ul li:before, .widget_recent_entries ul li:before, .widget_recent_comments ul li:before, .widget_archive ul li:before, .widget_meta ul li:before{  	margin-right: 5px; color: #636363; /*content: "\f0da";*/  font-size: 12px; font-family: 'FontAwesome';  }


/* =LEFT SIDEBARS
================================================================*/
.left-sidebar #sidebar{border-left: medium none;float: left; margin-left: 0;padding-left: 0;}
.left-sidebar #content{float:right;}


/* =CONTACT
================================================================*/

#content .contact-left .fill{ height:22px; margin-bottom: 34px; margin-top: 20px; font-size: 22px; }
#content .contact-left form .wpcf7-form-control.wpcf7-not-valid{ border: 1px solid red; }
.wpcf7-quiz-label {display: block;}
#content .contact-left form input[type="text"],#content .contact-left form input[type="email"],
#content .contact-left form input[type="url"],#content .contact-left form input[type="tel"],
#content .contact-left form input[type="number"],#content .contact-left form input[type="range"],
#content .contact-left form input[type="date"],#content .contact-left form input[type="file"]{  background: #f9f9f9; border: 1px solid #e1e1e1; color: #555; font-family: 'OpenSansRegular',cursive; font-size: 12px;  height: 30px; margin: 5px 0 0; padding: 4px; width: 97.5%; }
#content .contact-left form select{ background: none repeat scroll 0 0 transparent; border: 1px solid #e1e1e1; height: 30px; padding: 4px; margin: 5px 0 0; width: 97.5%; }
#content .contact-left form input[type="text"]:focus,#content .contact-left form input[type="email"]:focus,
#content .contact-left form input[type="url"]:focus,#content .contact-left form input[type="tel"]:focus,
#content .contact-left form input[type="number"]:focus,#content .contact-left form input[type="range"]:focus,
#content .contact-left form input[type="date"]:focus,#content .contact-left form input[type="file"]:focus{ border: 1px solid #1abc9c;}
#content .contact-left form textarea{ background: #f9f9f9; border: 1px solid #e1e1e1; height: 150px; padding: 4px; margin-top: 4px; width: 98.8%;color: #555; font-family: 'OpenSansRegular',cursive; font-size: 12px; margin-bottom: 0px;} 	
#content .contact-left form textarea:focus{ border: 1px solid #1abc9c;}
#content .contact-left form input[type="submit"]{background:none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #1abc9c; cursor: pointer; display: inline-block;      display: inline-block;font-family: 'OpenSansRegular',cursive;font-size: 12px;letter-spacing: 1px;margin-bottom: 0; padding: 8px 25px; position: relative;float:right;     text-transform: uppercase;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}  
#content .contact-left form input[type="submit"]:hover { background: none repeat scroll 0 0 #1abc9c; color: #FFFFFF; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s; } 
#map .gm-style img{max-width:inherit;}
span.wpcf7-not-valid-tip { color: #FF0000;display: block;font-family: 'Muli', sans-serif;font-size: 12px;letter-spacing: 1px;margin-top: 3px;} 
div.wpcf7-validation-errors { border: 1px solid #F7E700; font-size: 13px; font-weight: 400; margin-left: 0; margin-right: 0; font-family: 'OpenSansRegular',cursive;} 
div.wpcf7-mail-sent-ng {border: 1px solid #FF0000;font-size: 13px; font-weight: 400; margin-left: 0; margin-right: 0; font-family: 'OpenSansRegular',cursive;}
div.wpcf7-mail-sent-ok {border: 1px solid #398F14;font-size: 13px; font-weight: 400; margin-left: 0; margin-right: 0; font-family: 'OpenSansRegular',cursive; }
div.wpcf7 img.ajax-loader {margin-top: 12px !important;}
.contactsidetemp div.wpcf7 img.ajax-loader {margin-left: 5px !important;}
#contactform label{  font-family:'Open Sans',sans-serif;  }
div.m-style-iw{width:300px !important;height:auto !important;}

/* =FOOTER
================================================================*/
#footer { background-color: #fff; border-top: 0 solid #30B7FF; color: #747474; margin-bottom: 0;margin-top:0;} 	
#footer .foot_wrapper {color: #fff; font-family: OpenSansRegular; font-size: 13px; margin: 0 auto; padding: 30px 0; text-align: center;} 	
#footer .foot_wrapper  .skt-foot-link {margin-top:15px;}
#footer a {color:#fff;transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;  }
#footer a:hover{color:#333;}

a#backtop{ background: none no-repeat scroll 0 0 #1abc9c; bottom: 7px; height: 35px; line-height: 16px; position: fixed; right: 55px; text-decoration: none; width: 35px; z-index: 9999; } 
a#backtop:before { color: #ffffff; content: "\f106"; display: block; font-family: 'FontAwesome'; font-size: 14px; margin-top: 9px; text-align: center; } 

/* =SLIDER ENDS
================================================================*/
.featured-image {display: block;position: relative;text-align: center; z-index: 1;}
body.search .post.skt_menu_items .featured-image-shadow-box, .featured-image-shadow-box,.video-container,.slider-attach { float: left; margin-bottom: 24px; overflow: hidden; width: 634px; height: 441px;} 
.featured_image_shadow {  margin-top: -25px;  position: relative;  z-index:0;  }
.portfolio-items {  font-weight: bold;  padding: 10px 4px 0;  }
ul.childpages {  list-style-type: disc;  margin-left: 20px;  }
.childpages li a {  text-decoration: none;  }
.childpages li a:hover {  padding: 0 2px;  }


/* =PAGINATION
================================================================*/
#convac-paginate{ display: inline-block; font-size: 13px;/*margin: 20px 0;*/position: relative;text-align: center;width: 100%;}
#convac-paginate a{  background: none repeat scroll 0 0 #fff; border: 1px solid #e0dede; display: inline-block; height: 32px; line-height: 32px; padding: 0; position: relative; top: 1px; width: 32px;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;} 
#convac-paginate a:hover{background: none repeat scroll 0 0 #1abc9c;color: #FFFFFF;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;}
#convac-paginate .convac-prev{ float: left;left: 0;margin: 0 3px 6px 0;position: absolute;}
#convac-paginate .convac-next{ float: right;margin: 0 0 6px 3px;position: absolute;right: 0;}
#convac-paginate .convac-page{margin:0 3px 6px;}
#convac-paginate .icon-angle-right,#convac-paginate .icon-angle-left {font-size: 24px;line-height: 30px;}
#convac-paginate .convac-current{  background: none repeat scroll 0 0 #1abc9c;color: #ffffff !important;border: 1px solid #E0DEDE;display:inline-block;height: 32px;line-height: 31px;padding: 0; width: 32px;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;  	-moz-transition:all 1s ease 0s;-o-transition:all 1s ease 0s;}
.navigation {color: #888888;font-size: 13px;line-height: 18px; margin: 10px 0 0;  overflow: hidden;  }
.navigation.blog-navigation{/*margin-top:35px;*/}
.category .blog-navigation,.tag .blog-navigation, .archive  .blog-navigation, .search  .blog-navigation{margin-bottom:35px;}
.nav-previous {float: left;width: 50%;}
.nav-next {float: right; text-align: right;width: 50%;  }


/* =THEME CHECK INCLUDE CLASSES
================================================================*/
.wp-caption { background: none repeat scroll 0 0 #FFFFFF;  border: 1px solid #F0F0F0;  padding: 5px 3px;  text-align: center;  border: 1px solid #EEEEEE;  max-width: 100%;  }
.wp-caption-text { margin-bottom: 5px;  margin-top: 5px;  font-size: 11px;  } 
.sticky {}
.gallery-caption {}
.gallery-item dd {float: none;}
.alignright {float: right;margin: 5px 0px 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
.aligncenter {display: block;  margin: 5px auto;}
.alignnone.size-full {max-width: 100%;}
#content .alignright {float: right;margin: 5px 0px 20px 20px;}
#content .alignleft {float: left;margin: 5px 20px 20px 0;}
#content .aligncenter {display: block;  margin: 5px auto;}
#content .alignnone.size-full {max-width: 100%;}
#content img, #sider-bar img { height: auto;margin: 0;max-width: 100%;}
#content table {border: 1px solid #E7E7E7;margin: 0;text-align: left;width: 99%;margin: 0 0 10px;}
#content tr td {border: 1px solid #CCCCCC;padding: 6px 24px;text-align: center;}


/*=#MOBILE MENU
================================================================*/
#menu-icon{display:none;}
#mini-menu{background: url("images/menuulbg.png") repeat scroll 0 0 transparent;display: none;position: absolute;width: 470px;z-index: 77777799;}
.responsive-nav-button {background-color: #D6D6D6;border-radius: 3px 3px 3px 3px; display: none;font-family: "FontAwesome";font-size: 21px;font-style: normal;font-weight: normal;height: 35px;line-height: 37px;text-align: center;vertical-align: middle;width: 35px; }


/* =#GALLERY
================================================================*/
.gallery ul li a img{  border: none;  }
.gallery ul li{  position: relative;  z-index: 1;  }
.gallery_2columns{  list-style: none;  margin: 0 0 0 -20px;  width: 700px;  }
.gallery_2columns li{  display: inline;  float: left;  width: 330px;  height: 220px;  margin: 0 0 20px 20px;  position: relative;  }
.gallery a span{  z-index: 2;  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  display: none;  cursor: pointer;  }
.gallery a span.image_hover {  background: url("../images/hover_image_big.png") no-repeat scroll center center #000000;  } 
.single .thumb-wrap span.image_hover{	background: url("../images/hover_image_big.png") no-repeat scroll center center #000000;}
.single .thumb-wrap a span { cursor: pointer; display: none; height: 100%;    left: 0;    position: absolute;    top: 0;    width: 100%;    z-index: 2;}
.gallery a span.video_hover{  background: black url(images/hover_video_big.png) no-repeat center center;  }
.image-gallery-slider li{margin-left:0;}


/* =DEFAULT FORM CSS
================================================================*/
form input[type="text"],form input[type="email"],form input[type="password"],
form input[type="url"],form input[type="tel"],form input[type="date"],form input[type="file"],
form input[type="number"],form input[type="range"]{ border: 1px solid #cccccc;color: #555; font-family: 'OpenSansRegular',cursive;font-size: 14px; height: 46px; margin: 0px 0 0; padding: 4px 4px 4px 26px; width: 100%;	-moz-box-sizing: border-box;box-sizing: border-box;} 	
form select{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);color: #555; border: 1px solid #cccccc; border-radius: 2px; box-sizing: border-box; height: 46px; margin: 5px 0 0; padding: 13px 13px 13px 24px; width: 100%; } 	
form input[type="radio"] ,form input[type="checkbox"] { margin-bottom: 0; } 
form input[type="file"]{ height:auto; padding:11px; padding-left:26px; } 
form input[type="range"]{padding-left:4px;}
form input[type="text"]:focus,form input[type="email"]:focus,
form input[type="url"]:focus,form input[type="tel"]:focus,
form input[type="number"]:focus,form input[type="range"]:focus,
form input[type="date"]:focus,form input[type="file"]:focus,form textarea:focus{ border: 1px solid #1abc9c;} 
form textarea{border: 1px solid #E1E1E1; -moz-box-sizing: border-box; box-sizing: border-box; color: #555; font-size: 13px; height: 156px; margin-bottom: 0; margin-top: 1px; padding: 20px 4px 4px 26px; width: 100%;} 	
form input[type="submit"]{background: none repeat scroll 0 0 transparent; border: 0 none; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 15px; margin-bottom: 0; padding:12px 18px; position: relative; text-transform: uppercase; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;margin-top:-2px;}  	
form input[type="submit"]:hover{}
form.post-password-form input[type="password"] {width:200px;}


/* =#CONTACT FORM 7
================================================================*/
.wpcf7-quiz-label {display: block;}
span.wpcf7-form-control-wrap{ width: 100%;}
form.wpcf7-form input[type="text"],form.wpcf7-form input[type="email"],
form.wpcf7-form input[type="url"],form.wpcf7-form input[type="tel"],form.wpcf7-form input[type="date"],form.wpcf7-form input[type="file"],
form.wpcf7-form input[type="number"],form.wpcf7-form input[type="range"]{ border: 1px solid #cccccc;  color: #555; font-size: 14px; height: 46px; margin: 0px 0 0; padding: 4px 4px 4px 26px; width: 100%;	-moz-box-sizing: border-box;box-sizing: border-box;} 	
form.wpcf7-form select{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);color: #555; border: 1px solid #cccccc; box-sizing: border-box; height: 46px; margin: 5px 0 0; padding: 13px 13px 13px 24px; width: 100%; } 	
form.wpcf7-form input[type="radio"] ,form.wpcf7-form input[type="checkbox"] { margin-bottom: 0; } 
form.wpcf7-form input[type="file"]{ height:auto; padding:11px; padding-left:26px; } 
form.wpcf7-form input[type="range"]{padding-left:4px;}
form.wpcf7-form .wpcf7-list-item { margin-left: 1px;margin-right: 15px;} 
form.wpcf7-form .wpcf7-list-item .wpcf7-list-item-label{ margin-left: 3px; position: relative; top: -3px; } 
form.wpcf7-form input[type="text"]:focus,form.wpcf7-form input[type="email"]:focus,
form.wpcf7-form input[type="url"]:focus,form.wpcf7-form input[type="tel"]:focus,
form.wpcf7-form input[type="number"]:focus,form.wpcf7-form input[type="range"]:focus,
form.wpcf7-form input[type="date"]:focus,form.wpcf7-form input[type="file"]:focus{ border: 1px solid #1abc9c;} 
form.wpcf7-form textarea{ font-family: 'OpenSansRegular',cursive;border: 1px solid #cccccc; -moz-box-sizing: border-box; box-sizing: border-box; color: #555; font-size: 14px; height: 156px; margin-bottom: 0; margin-top: 1px; padding: 20px 4px 4px 26px; width: 100%;} 	
form.wpcf7-form textarea:focus{ border: 1px solid #cccccc;}
form.wpcf7-form input[type="submit"]{cursor: pointer; display: inline-block; font-size: 14px; margin-bottom: 0; padding: 11px 18px 9px; position: relative; text-transform: uppercase; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;margin-top:-2px;}  	
span.wpcf7-not-valid-tip {color: #DA3200; display: block; font-size: 12px; letter-spacing: 0; margin-top: 4px;} 	
div.wpcf7-validation-errors,div.wpcf7-mail-sent-ng,div.wpcf7-mail-sent-ok {  background: none repeat scroll 0 0 #F7E700;color:#666;border: 1px solid #F7E700;font-size: 13px; font-weight: 400; line-height: 18px; margin-left: 0; margin-right: 0; padding: 9px 8px 8px;} 	
div.wpcf7-mail-sent-ng {border: 1px solid #FF0000;  background: none repeat scroll 0 0 #FF0000;color:#fff;}
div.wpcf7-mail-sent-ok {border: 1px solid #398F14;  background: none repeat scroll 0 0 #398F14;color:#fff;}
div.wpcf7 img.ajax-loader { margin-left: 5px !important;margin-top: -3px !important;}
#contact_page_temp form .wpcf7-form-control.wpcf7-not-valid{ border: 1px solid #DA3200; }
form.wpcf7-form p{margin-bottom:25px;}


/* =#CONTACT PAGE TEMPLATE
================================================================*/
#convac_contform p{ margin-bottom:20px; } 
#contact_map_wrap{ position:relative; top:-32px; } 
#contact_map_wrap .location_map{ position:absolute; width:100% !important; left:0; top:0; } 
#contact_page_temp .contact_top_block{ background: url("images/border-content.png") no-repeat scroll center bottom rgba(0, 0, 0, 0); margin-bottom: 45px; padding-bottom: 40px; } 
#contact_page_temp .contact_top_block h3{ font-size:18px; font-family: 'OpenSansRegular',cursive;} 
#contact_page_temp .contact_top_block .subtitle{ font-size:15px; color:#555555; } 
.contact-map-overlay{position:absolute;left:0;top:0;width:100%;height:100%;}
#contact-gmap-toggle { background: none repeat scroll 0 0 #000; bottom: 0; color: #fff; display: block; font-size: 33px; padding: 10px 17px; position: absolute; right: 0; text-align: center; z-index: 1;transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s; } 	 	
#contact-gmap-toggle:hover {transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;opacity:.5;}
#map_canvas #map{width:100%;height:100%;position:absolute;left:0;top:0;}

/* =#FOLLOW US WIDGET
================================================================*/
#sidebar .ske-container.SktFollowContact .follow-icons li{font-family: 'FontAwesome';float:left;background:none;border:none;padding:0px;margin-right: 10px;margin-bottom:10px;}
#sidebar .ske-container.SktFollowContact .follow-icons li:before{content:''; margin-right: 0;}
#sidebar .ske-container.SktFollowContact .follow-icons li{background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; float: left; font-family: 'FontAwesome'; line-height: 0; margin-left: 2px; margin-right: 8px; padding: 0; width: auto;} 	
#sidebar .ske-container.SktFollowContact .follow-icons li a{padding:0px;margin: 0;}
#sidebar .ske-container.SktFollowContact li a:before{color: #a4a4a4;transition: all 1s ease 0s;-webkit-transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;	-ms-transition: all .3s ease 0s; }
#sidebar .ske-container.SktFollowContact li a:hover:before{color:#fff;}
.SktFollowContact .follow-icons li:hover{background:none;}
.SktFollowContact .linkedin-icon a:before{content: "\f0e1";}
.SktFollowContact .facebook-icon a:before{content: "\f09a";}
.SktFollowContact .twitter-icon a:before{content: "\f099";}
.SktFollowContact .flickr-icon a:before{content: "\f16e";}
.SktFollowContact .gplusicon-icon a:before{content: "\f0d5";}
.SktFollowContact .skype-icon a:before{content: "\f17e"; }
.SktFollowContact .youtube-icon a:before{content: "\f16a";}
.SktFollowContact .dribble-icon a:before{content: "\f17d"; }
.SktFollowContact .pinterest-icon a:before{content: "\f0d2";}
.SktFollowContact .tumblr-icon a:before{content: "\f173";}
.SktFollowContact .github-icon a:before{content: "\f09b";}
.SktFollowContact .foursquare-icon a:before{content: "\f180";}
.SktFollowContact li.linkedin-icon a:hover { background: none repeat scroll 0 0 #0280B0; }
.SktFollowContact li.facebook-icon a:hover { background: none repeat scroll 0 0 #3a5999; }
.SktFollowContact li.twitter-icon a:hover { background: none repeat scroll 0 0 #3aa9de; }
.SktFollowContact li.flickr-icon a:hover { background: none repeat scroll 0 0 #D80068; }
.SktFollowContact li.gplusicon-icon a:hover { background: none repeat scroll 0 0 #d14836; }
.SktFollowContact li.skype-icon a:hover { background: none repeat scroll 0 0 #01b0f1; }
.SktFollowContact li.youtube-icon a:hover { background: none repeat scroll 0 0 #cc332d; }
.SktFollowContact li.dribble-icon a:hover { background: none repeat scroll 0 0 #eb4d8a; }
.SktFollowContact li.pinterest-icon a:hover { background: none repeat scroll 0 0 #cb2028; }
.SktFollowContact li.tumblr-icon a:hover { background: none repeat scroll 0 0 #2c4762; }
.SktFollowContact li.github-icon a:hover { background: none repeat scroll 0 0 #4283c5; }
.SktFollowContact li.foursquare-icon a:hover { background: none repeat scroll 0 0 #2498c9; }
.SktFollowContact .follow-icons li a {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #a4a4a4; border-radius: 100%; display: block; font-size: 20px; font-weight: normal; height: 42px; line-height: 44px; text-align: center; width: 42px;} 

/* =BLOG SHARE
================================================================*/
.skt-blog-share { border-top: 1px dashed #e1e1e1; margin-top: 30px; padding-top: 32px; }
.skt-blog-share.single-blog-share { border-bottom: 1px dashed #f2f2f2; margin-bottom: 28px; margin-top: 0; padding-bottom: 28px; }
.skt-blog-share.clearfix > ul { height: 46px; margin: auto; position: relative; text-align: center;}
.skt-blog-share li a {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #a4a4a4; border-radius: 100%; display: block; font-size: 20px; font-weight: normal; height: 42px; line-height: 44px; text-align: center; width: 42px;}
.skt-blog-share li{list-style-type: none;background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; display:inline-block; font-family: 'FontAwesome'; line-height: 0;margin:0px 7px; padding: 0; width: auto;}
.skt-blog-share li i {color: #a4a4a4;}
.skt-blog-share li:hover i {color: #fff;}
.skt-blog-share li.linkedin-icon a:hover { background: none repeat scroll 0 0 #0280B0; }
.skt-blog-share li.facebook-icon a:hover { background: none repeat scroll 0 0 #3a5999; }
.skt-blog-share li.twitter-icon a:hover { background: none repeat scroll 0 0 #3aa9de; }
.skt-blog-share li.gplusicon-icon a:hover { background: none repeat scroll 0 0 #d14836; }
.skt-blog-share li.pinterest-icon a:hover { background: none repeat scroll 0 0 #cb2028; }

/* =ERROR & NOTIFiCATION MESSAGES
================================================================*/
.author-slider-error-msg{background: none repeat scroll 0 0 #ca1200; border-radius: 2px; color: #ffffff; font-size: 14px; margin-bottom: 20px; margin-top: 30px; padding: 6px; text-align: center;} 	
form input[type="text"].error, input[type="email"].error, input[type="number"].error,form textarea.error{border: 1px solid #DA3200;}
form label.error {color: #DA3200; display: block; font-family: 'OpenSansRegular',cursive;font-size: 12px; letter-spacing: 0; margin-top: 4px; } 
	
	
/* =fornt gallery slider
================================================================*/
.front-slider-attach{ margin-bottom:0px; overflow: hidden; position: relative;}
.front-slider-attach .postformat-gallerydirection-nav li a{ top: 60%;}
.front-slider-attach  .image-gallery-slider { height: 319px; overflow: hidden; position: relative; }
.archive.tax-menu_item_category #content .post, 
.page-template-template-menu-items-fullwidth-php #content .post{border:0;}

a.post-edit-link{display: inline-block;margin-bottom: 10px;}

/* =AUDIO PLAYER
================================================================*/
.audio-container .skt-format-audio {
    padding-top: 369px;
}
.mejs-container, .mejs-embed, .mejs-embed body {
    margin: auto;
    width: 58% !important;
}
.mejs-controls div.mejs-time-rail {
    width: 48% !important;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
    width: 45% !important;
}

/* =FULL WIDTH BLOG
================================================================*/
.page.page-template-template-blog-full-width-php #content .post{padding: 30px 28px !important;}
.page-template-template-blog-full-width-php .featured-image-shadow-box,.page-template-template-blog-full-width-php .video-container,.page-template-template-blog-full-width-php .slider-attach {
    float: left;
    height: 441px;
    margin-bottom: 24px;
    overflow: hidden;
    width:1019px;
}

.page-template-template-blog-full-width-php .convac-post-box .citation_post, .page-template-template-blog-full-width-php .audio-container,.page-template-template-blog-full-width-php .convac-post-box .skt-link-container,.page-template-template-blog-full-width-php .sound-cloud-audio-container .skt-format-audio iframe{
    width: 996px;
}
.page-template-template-blog-full-width-php .mejs-controls div.mejs-time-rail {
    width: 67% !important;
}
.page-template-template-blog-full-width-php .mejs-controls .mejs-time-rail .mejs-time-total {
    width: 64% !important;
}
.page-template-template-blog-full-width-php .citation_post blockquote{padding: 65px 55px;}

/* = FULL TWITTER BOX Slider
================================================================*/
#full-twitter-box{
	overflow: hidden;
	padding: 55px 0;
}
#full-twitter-box #bot-twitter{
	text-align:center;
	max-height: 400px;
	overflow: hidden;
}
#full-twitter-box #bot-twitter .twitter-item {
	margin-left:0;
	list-style:none;
}
#full-twitter-box #bot-twitter .fa.fa-twitter {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 50px;
    padding: 12px 14px;
}
#full-twitter-box #bot-twitter .tw-usernm{
    color: #fff;
    display: block;
    font-family: OpenSansSemibold;
    font-size: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}
#full-twitter-box #bot-twitter  .tw-text{
    color: #fff;
    display: block;
    font-family: opensanslight;
    font-size: 27px;
    line-height: 33px;
    margin-top: 20px;
}
#full-twitter-box #bot-twitter  .tw-text a{
	color:#fff;
}
#full-twitter-box #bot-twitter .tw-controls{
	margin-top:20px;
}
#full-twitter-box #bot-twitter .tw-controls a{
    color: #fff;
    font-size: 15px;
    margin: 0 15px;
    text-transform: capitalize;
}
#full-twitter-box #bot-twitter .foot-tw-control-paging{
	text-align:center;
	margin-bottom:0;
	line-height:0;
	margin-top:35px;
}
#full-twitter-box #bot-twitter .foot-tw-control-paging li{
	margin:0;
	display:inline-block;
}
#full-twitter-box #bot-twitter .foot-tw-control-paging li a{
	background: none repeat scroll 0 0 #fff;
    border-radius: 100%;
    display: inline-block;
    height: 0;
    padding: 5px;
    width: 0;
	margin:0px 4px;
	text-indent: -99999px;
	cursor:pointer;
	border:1px solid transparent;
}
#full-twitter-box #bot-twitter .foot-tw-control-paging a.foot-tw-active{
	border:1px solid #fff;
	background:none;
}
#full-twitter-box #bot-twitter  .tw-date{
	font-size:24px;
	color:#fff;
	margin-top:12px;
	display:block;
	line-height: 32px;
}

#author-slider .slides li img{
	border-radius:100%;
	width:auto;
	height:auto;
	border:4px solid #fff;
	margin:0 auto;
}

/* = BLOG MASONRY STYLE
================================================================*/
.page-template-template-masonry-php.page #content {background: none repeat scroll 0 0 transparent;padding:0;}

#container-isotop.three-col {
	margin-top: 0px;
	margin-left: 0px;
	visibility:hidden;
}
#blog-masonry #content .post {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
    word-wrap: break-word;
}

#blog-masonry #content .title {
    font-size: 22px;
    line-height: 26px;
	max-width:300px;
	margin-bottom: 20px;
}
#blog-masonry #content  .feature_image{
	line-height:0;
}
#blog-masonry #content  .blog-masonry_box{
	width:370px;
	background: none repeat scroll 0 0 #fff; 
	border: 1px solid #e5e5e5; 
	padding: 29px; 
	float: left;
	position:relative;
	box-sizing: border-box;
	margin:0;
	margin-bottom:30px;
}
#blog-masonry #content .post_excerpt{
	 margin-top: 25px;
}
#blog-masonry #content .post_excerpt::first-letter{
	font-size: 40px;
    margin-left: -4px;
}
#blog-masonry #content .continue{
	margin-top:25px;
}
#blog-masonry #content .masonry-citation-post .skt-quote{
    border-width: 10px;
    color: #000;
    font-size: 15px;
    padding: 25px !important;
    text-align: center;
	margin-bottom: 0;
	border-style:solid;
}
#blog-masonry #content .masonry-citation-post blockquote:before{
    color: #e9e9e9;
    font-size: 25px;
    left: -20px;
}
#blog-masonry #content .masonry-citation-post .quoteauthor{
    display: block;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}
#blog-masonry #content .masonry-citation-post .quoteauthor a{
	font-family: OpenSansRegular;
}

#blog-masonry #content .skt-blog-share ul{
	text-align:left;
}
#blog-masonry #content .skt-blog-share li{
    margin-left: 18px;
    margin-right: 0;
}
#blog-masonry #content .skt-blog-share li:first-child{
	margin-left:0;
}
#blog-masonry #content .image-gallery-slider{
	height:auto;
}
#blog-masonry #content .postformat-gallerydirection-nav a{
    bottom: 12px;
    display: inline-block;
    height: 31px;
    left: auto;
    right: 12px;
    top: auto;
    width: 31px;
	opacity:.8;
	border:0;
}
#blog-masonry #content .postformat-gallerydirection-nav a:hover{
	opacity:1;
}

#blog-masonry #content .postformat-galleryprev{
	background:url('images/small-prev.png') no-repeat;
	right: 52px !important;
}
#blog-masonry #content  .postformat-gallerynext{
	background:url('images/small-next.png') no-repeat;
}
#blog-masonry #content .flex-video.widescreen.vimeo {
    line-height: 0;
    margin-bottom: 0;
}
#blog-masonry #content .masonry-link-container,#blog-masonry #content .masonry-audio-container{
	border:10px solid #fff;
	background:url('images/small-bg-link.png') no-repeat center;
	height:250px;
	position:relative;
	background-size: auto auto;
}
#blog-masonry #content .masonry-link-container p{
	margin:0;
}
#blog-masonry #content .masonry-format-link{
	bottom: 0;
    left: 0;
    margin: auto;
    max-height: 50px;
    position: absolute;
    right: 0;
	font-size: 22px;
    line-height: 26px;
    text-align: center;
    top: 0;
}
#blog-masonry #content .masonry-audio-container{
    background: url("images/small-bg-audio.png") no-repeat scroll center 15px rgba(0, 0, 0, 0);
}
#blog-masonry #content .masonry-audio-container .mejs-container{
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90% !important;
}
#blog-masonry #content .masonry-audio-container.simple-audio iframe{
	display:none;
}
#blog-masonry #content .masonry-audio-container.sound-cloud-cont{
	background:none;
}
#blog-masonry #content .masonry-audio-container.sound-cloud-cont iframe{
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
}

#blog-masonry .vert-skepost-meta{
	border:0;
	margin-top: 10px;
	float:none;
}
#blog-masonry .vert-skepost-meta > span{
	height: 48px;
    width: 55px;
	margin-left:8.75px;
	box-sizing: border-box;
	margin-right: 0 !important;
}
#blog-masonry .vert-skepost-meta > span:first-child{
	margin-left:0;
}

#blog-masonry  .skepost-meta span.date{
    padding: 9px 3px 3px;
    text-align: center;
	font-size: 10px;
	letter-spacing: -1px;
}

#blog-masonry .skepost-meta .avatar.photo{
    height: 36px !important;
    margin: 6px;
    padding: 0;
    width: 43px !important;
}

#blog-masonry .skepost-meta .post-type-img > img {
    margin: 9px;
    padding: 0;
}

#blog-masonry .skepost-meta .blog-post-like > img {
	margin: 4px 0 0;
    padding: 0;
}

#blog-masonry  .skepost-meta span {
    font-size: 10px;
    line-height: 8px;
    margin-right: 0px;
    padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	
}
#blog-masonry  .skepost-meta .comments > img {
    margin: 5px 0 0;
    padding: 0;
}
#blog-masonry  .skepost-meta .comments  span,#blog-masonry  .skepost-meta .blog-post-like  span{
	font-size:11px;
	font-weight:normal;
	margin-top:2px;
}

#blog-masonry  .skt-blog-share{
	margin-top:30px;
	padding-top:30px;
}
#blog-masonry .skepost-meta span.date span{
    display: block;
    font-size: 20px;
    line-height: 17px;
    margin-bottom: 5px;
    margin-right: 0;
    width: 100%;
	font-family: OpenSansSemibold;
	letter-spacing: 0;
}	

#blog-masonry #masonryload-posts{
    border: 1px solid #777;
    bottom: 0;
    color: #000;
    display: inline-block;
    left: 0;
    margin: 0 auto;
    padding: 8px 13px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100px;
}
#blog-masonry .mejs-controls div.mejs-time-rail { width: 30% !important;}
#blog-masonry .mejs-controls .mejs-time-rail .mejs-time-total { width: 27% !important;}
#skt_autoposts_dis{text-align:center;}
#blog-masonry #skt_loading{
    background: none repeat scroll 0 0 #fff;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    padding: 15px;
	display:none;
	margin-top:30px;
}
#blog-masonry ul.gallery-box{height:226px;}

#skt_noposts_load{display:none;}

body.home .header-top-wrap,
body.page-template-template-blog-left-sidebar-page-php .header-top-wrap,
body.page-template-template-masonry-php .header-top-wrap,
body.page-template-template-blog-full-width-php .header-top-wrap{height:700px;}

.author-slider-wrap,.header-top-wrap .social_icon{visibility:hidden;}
#author-slider.flexslider{ min-height: inherit; margin: 35px 0;}
.social_icon .head_social_title,.social_icon ul {margin-top:35px;}
.social_icon {margin-bottom:40px;margin-top:0!important;}
#author-slider .flex-caption .text {height:53px;margin-bottom:0;}

/* = STATISTIICS STYLE
================================================================*/
.skt-counter{text-align: center;}
.skt-statistics-wrap{padding:60px 0px;}
.statistics_page .skt-counter-number {font-size:55px;line-height:60px;}
.statistics_page .skt-counter h6.skt-counter-title{font-size:15px;}

/* = PLACEHOLDER STYLE
================================================================*/
#header-searchform input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}
#header-searchform input[type="text"]:-moz-placeholder {
    color: #fff;
}
#header-searchform input[type="text"]::-moz-placeholder {
    color: #fff;
}
#header-searchform input[type="text"]:-ms-input-placeholder {
    color: #fff;
}
